.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(220, 220, 220);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    // margin: 1%;
    &.button_po_ne{
        grid-area: sign1!important;
    }
    &.button_separator{
        grid-area: sign2!important;
        font-family: font-awesome;
    }
}