.keyboard{
    height: 70%;
    display: grid;
    grid-template-areas: "edit edit edit op" "num num num op" "num num num op" "num num num op" "num num num op";
    grid-template-columns: 25%;
    .oppad{
        grid-area: op;
        display: grid;
        grid-template-rows: repeat(5,1fr);
    }
    .numpad{
        grid-area: num;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". . ." ". . ." ". . ." "sign1 . sign2";
        .number{
            background: rgba(239, 239, 239, 0.94);
        }
    }
    .editpad{
        grid-area: edit;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
