.keyboard{
    height: 70%;
    display: grid;
    grid-template-areas: "edit edit edit op" "num num num op" "num num num op" "num num num op" "num num num op";
    grid-template-columns: 25%;
    .oppad{
        grid-area: op;
        display: grid;
        // grid-template-rows: repeat(5,1fr);
        grid-auto-flow: row;
    }
    .numpad{
        grid-area: num;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        .number{
            background: rgba(239, 239, 239, 0.94);

        }
        .number,.sign{
            flex: 1 0 30%;
        }
    }
    .editpad{
        grid-area: edit;
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: column;
    }
}
